<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleIdentifier</key>
<string>org.haskell.jsaddle-hello</string>
<key>CFBundleDevelopmentRegion</key>
<string>en</string>
<key>CFBundleExecutable</key>
<string>jsaddle-hello-wkwebview</string>
<key>CFBundleIconFile</key>
<string></string>
<key>CFBundleName</key>
<string>jsaddle-hello</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleVersion</key>
<string>1.0</string>
<key>CFBundleShortVersionString</key>
<string>1.0</string>
<key>NSHumanReadableCopyright</key>
<string>jsaddle-hello, bundled by cabal-macosx</string>
<key>NSPrincipalClass</key>
<string>NSApplication</string>
</dict>
</plist>
